@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  font-family: "Quicksand";
  color: #333;
  text-decoration: none;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 0;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #545457;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.App {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  padding-bottom: 40px;
}
.Login{
  margin: auto;
  text-align: center;
  align-content: center; 
  padding-bottom: 20px;
  padding-top: 1px;
}
input.Login{
  margin: auto;
  display: block;
  margin-bottom: 5px;
}
#search{
  display: inline-block;
  margin-right: 10px;
  width: 200px
}
#filterDrop{
  width: 200px;
}
#add{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  float:right;
}
#viewMatches{
  margin-left: 20px;
}
.Login:hover{
  box-shadow: 5px 5px 15px grey;
}
button{
  border-radius: 8px;
}
.MngVolMenu label{
  float:inline-start;
  width: 100px;;
}
.MngVolMenu{
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 25px;
}
.listVol{ /*PLACEHOLDER*/
  background-color: #f1f1f1;
  border-radius: 20px;
  margin-top: 2px;
  padding: 20px;
  padding-bottom: 100%;
}
.MngOpMenu label{
  float:inline-start;
  width: 100px;
}
.MngOpMenu{
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 25px;
}
.listOp{ /*PLACEHOLDER*/
  background-color: #f1f1f1;
  border-radius: 20px;
  margin-top: 2px;
  padding: 20px;
  padding-bottom: 100%;
}
.VolForm label{
  display: inline-block;
  width: 100px;
  padding-right: 10px;
}
.VolForm input{
  display: inline-block;
}
.centers label{
  width: auto;
}
.information label{
  display: inline-block;
  width: 200px;
}
.information input{
  display: inline-block;
}
.emergency label{
  width: 120px;
}
.status label{
  width: 250px;
}
#labelStatusDrop{
  width: auto;
}
.VolForm{
  background-color: #f1f1f1 ;
  padding: 20px;
  border-radius: 10px;
}
#submitAddVol{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 10px;
  float: right;
}
#submitAddVol:hover{
  background-color: #409242;
}
.volTitle h1{
  display: inline;
}
.volTitle{
  margin-top: 30px;
  margin-bottom: 5px;
}
.opTitle h1{
  display: inline;
}
.opTitle{
  margin-top: 30px;
  margin-bottom: 5px;
}
.addOpForm{
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}
#addOpButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 10px;
  float: right;
}
#addOpButton:hover{
  background-color: #409242;
}